<H1>Lyhyt kertaus muuttujista</H1>
{{ esim1 }}<br>
Luku voi olla kokonaisluku (integer): {{ esim2 }}<br>
Luku voi olla myös desimaaliluku (float): {{ esim3 }}<br>
Muuttujien sisältöjä voi myös ketjuttaa: {{ esim4 }}<br>
Taulukko on muuttuja, johon voi tallettaa useita arvoja: {{ esim5[0] }}, {{ esim5[1] }}<br>
Toinen taulukko: {{ esim6['etunimi'] }} {{ esim6['sukunimi'] }}<br>